<% @influence_titles.uniq.each do |influenced_relationship|%>
  <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4">
    <% rel = Relationship.relationship_influenced(influenced_relationship.id, @title.id)%>
    <div class="index-card movie-card mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="btn-container">
            <% if rel.tags.present? %>
              <%= link_to "#{rel.tags.first.name}", relationship_path(rel), class: "btn btn-primary text-center tag-btn" %>
            <% elsif influenced_relationship.tags.present? %>
              <%= link_to "#{influenced_relationship.tags.first.name}", relationship_path(rel), class: "btn btn-primary text-center tag-btn" %>
            <% else %>
              <%= link_to "Missing Tag", relationship_path(rel),class: "btn btn-primary text-center tag-btn" %>
            <% end %>
          </div>
          
          <% if can? :destroy, Relationship %>
            <div class="add-to-fav">
              <%= check_box_tag('favorite_list_ids[]', nil, ((@title_ids.present? && @title_ids.include?(influenced_relationship.id)) ? true : false), class: 'favorite_checkbox_list form-check-input', id: "favorite_checkbox_ids_#{influenced_relationship.id}", "data-title-name" => influenced_relationship.name) %>
              <label for="favorite_checkbox_idsss_<%= influenced_relationship.id %>">
                <i class="far fa-heart"></i>
                <i class="fas fa-heart"></i>
              </label>
            </div>
            <%= link_to relationship_path(rel), method: :delete, data: { confirm: "Are you sure?" }, class: "text-danger remove-btn" do %>
              <span class="icon s7-trash"></span>
            <% end %>
          <%end%>
          <% if influenced_relationship.static_poster %>
            <a class="" href="<%= title_path(influenced_relationship)%>"><%= image(influenced_relationship.static_image.attachment) %></a>
          <%elsif influenced_relationship.attachment.attached?%>
            <a class="" href="<%= title_path(influenced_relationship)%>">
              <%= image(influenced_relationship.attachment) %>
          <% elsif influenced_relationship.movie.present?%>
            <a class="" href="<%= title_path(influenced_relationship)%>">
              <%= image_tag(influenced_relationship&.movie&.poster_url, class: "", size: "") %></a>
          <%else%>
            <img class="" src="https://placehold.it/150x150" alt="">
          <%end%>
        </div>
        <div class="card-footer title-show-card-footer">
          <h5 class="text-left"><%= link_to "#{influenced_relationship.name}", title_path(influenced_relationship) %></h5>
          <h5 class="text-left">Type: <%= influenced_relationship.title_type %></h5>
          
          <% if !influenced_relationship.year.nil? && influenced_relationship.year > 0 %>
            <h5 class="text-left">Year: <%= title_year(influenced_relationship.year, influenced_relationship.end_year) %></h5>
          <% end %>
          <span class="spacer-item"></span>
        </div>
      </div>
    </div>
  </div>
<%end%>
